.accordion {
  margin-left: 10px;

  @media (max-width: 900px) {
    margin-left: 0;
  }
}

.accordion-item {
  border-radius: 20px;
  border: 1px solid $white-border;
  margin-bottom: 10px;
  backdrop-filter: blur(20px);
  background: rgba(4, 4, 4, 0.7);
  max-width: 847px;

  &:last-child {
    margin-bottom: 0;
  }



}

.accordion-header {
  @include color-gradient ($white);
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px 40px;

  @media (max-width: 550px) {
    padding: 10px;
  }
}

.accordion__icon {
  background: $gold;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  img {
    transition: all .3s;
  }

  &.active {
    img {
      transform: rotate(180deg);
    }
  }

}

.accordion-content {
  @include color-gradient ($white);
  font-size: 16px;
  max-height: 0;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 40px;

  &.active {
    max-height: 200px;
    padding-bottom: 20px;

    @media (max-width: 550px) {
      padding-bottom: 10px;
    }
  }

  @media (max-width: 550px) {
    font-size: 14px;
    padding: 0 10px;
  }
}