@mixin color-gradient($lg) {
  background: $lg;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

$white: linear-gradient(90deg, #fff 0%, #aeaeae 53.9%, #fff 100%);
$white-color: #fff;
$white-border: #AEAEAE;
$gold-light: linear-gradient(90deg, #eec743 0%, #fffa8a 30.41%, #ddad18 71.23%, #fefb8e 100%);
$gold: linear-gradient(90deg, #d7b068 11.9%, #845903 46.4%, #e5b108 100%);

$black: #040404;