$main-font: "Montserrat";
$second-font: "Caviar Dreams";

$bold: 700;
$regular: 400;


@font-face {
  font-family: $main-font;
  font-weight: $bold;
  font-style: normal;
  src:
    url("../fonts/montserrat-bold.eot") format("eot"),
    url("../fonts/montserrat-bold.woff") format("woff"),
    url("../fonts/montserrat-bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: $main-font;
  font-weight: $regular;
  font-style: normal;
  src:
    url("../fonts/montserrat-regular.eot") format("eot"),
    url("../fonts/montserrat-regular.woff") format("woff"),
    url("../fonts/montserrat-regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: $second-font;
  font-weight: $bold;
  font-style: normal;
  src:
    url("../fonts/caviarDreams-bold.eot") format("eot"),
    url("../fonts/caviarDreams-bold.woff") format("woff"),
    url("../fonts/caviarDreams-bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: $second-font;
  font-weight: $regular;
  font-style: normal;
  src:
    url("../fonts/caviarDreams-regular.eot") format("eot"),
    url("../fonts/caviarDreams-regular.woff") format("woff"),
    url("../fonts/caviarDreams-regular.woff2") format("woff2");
  font-display: swap;
}

html, body{
  font-family: $main-font, sans-serif;
  font-weight: $regular;
  color: #fff;
}
