<footer class="footer">
  <div class="container">
    <div class="footer__logo-wrapper">
      <a class="footer__logo-link" href="/">
        <img src="./images/svg/logo.svg" alt="Prodecanter">
      </a>
      <div class="footer__rights">
        «PRODECANTER» © 2024
        <a href="#">
          Политика конфиденциальности
        </a>
      </div>
    </div>
    <nav class="footer__nav">
      <div class="footer__nav-col">
        <a href="#">
          Слабый алкоголь
        </a>
        <a href="#">
          Средний алкоголь
        </a>
        <a href="drink-page.html">
          Крепкий алкоголь
        </a>
      </div>
      <div class="footer__nav-col">
        <a href="about.html">
          О нас
        </a>
        <a href="blog.html">
          Блог
        </a>
        <a href="contacts.html">
          Контакты
        </a>
      </div>
    </nav>
    <div class="footer__contacts-wrapper">
      <div class="footer__contacts">
        <a href="tel:+79684521794" class="footer__phone">
          +7 (968) 452-17-94
        </a>
        <button type="button">
          <span>
            обратный звонок
          </span>
        </button>
      </div>
      <div class="footer__socials">
        <a href="#">
          <img src="images/svg/tg-icon.svg" width="40" height="40" alt="telegram">
        </a>
        <a href="#">
          <img src="images/svg/wa-icon.svg" width="40" height="40" alt="whatsapp">
        </a>
        <a href="#">
          <img src="images/svg/vk-icon.svg" width="40" height="40" alt="vk">
        </a>
        <a href="#">
          <img src="images/svg/viber-icon.svg" width="40" height="40" alt="viber">
        </a>
      </div>
    </div>

  </div>
</footer>