<div class="header__top container">
  <div class="header__top-content">
    <a href="/">
      <img src="images/svg/logo.svg" width="197" height="20" alt="prodecanter">
    </a>
    <nav class="header__nav">
      <ul>
        <li>
          <a class="header__link js-header__link" href="#">
            Тип алкоголя
          </a>
          <div class="header__nav-submenu header__nav-submenu--hidden js-header__submenu">
            <a href="#">
              Слабый алкоголь
            </a>
            <a href="#">
              Средний алкоголь
            </a>
            <a href="drink-page.html">
              Крепкий алкоголь
            </a>
          </div>
        </li>
        <li>
          <a href="about.html">
            О нас
          </a>
        </li>
        <li>
          <a href="blog.html">
            Блог
          </a>
        </li>
        <li>
          <a href="contacts.html">
            Контакты
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__contacts">
      <a class="title" href="tel:+79684521794">
        +7 (968) 452-17-94
      </a>
      <button>
        обратный звонок
      </button>
    </div>
    <button class="header__burger-btn js-burger__btn">
      <img src="images/svg/burger-icon.svg" width="24" height="24" alt="burger-icon">
    </button>
  </div>
  <div class="header__top-burger header__top-burger--hidden js-burger">
    <img class="header__burger-logo" src="images/svg/logo.svg" alt="Prodecanter">
    <button class="header__burger-btn js-burger__btn">
      <img src="images/svg/close-icon.svg" width="24" height="24" alt="close">
    </button>
    <nav>
      <ul>
        <li>
          <a href="#">
            Слабый алкоголь
          </a>
        </li>
        <li>
          <a href="#">
            Средний алкоголь
          </a>
        </li>
        <li>
          <a href="#">
            Крепкий алкоголь
          </a>
        </li>
        <li>
          <a href="about.html">
            О нас
          </a>
        </li>
        <li>
          <a href="blog.html">
            Блог
          </a>
        </li>
        <li>
          <a href="contacts.html">
            Контакты
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__contacts">
      <a class="title" href="tel:+79684521794">
        +7 (968) 452-17-94
      </a>
      <button>
        обратный звонок
      </button>
    </div>
  </div>
</div>