<div class="overlay overlay--hidden js-overlay">
  <div class="popup">
    <button class="popup__close-btn js-overlay__close" type="button">
      <img src="images/svg/close-icon.svg" alt="close">
    </button>
    <h2 class="section-title">
      заполните форму
    </h2>
    <h3>
      И мы свяжемся с вами в ближайшее время!
    </h3>
    <form class="popup__form"> 
      <div class="popup__label-wrapper">
        <label>
          <input type="text" placeholder="Ваше имя" required>
        </label>
        <label>
          <input type="tel" placeholder="Номер телефона" required>
        </label>
      </div>
      <button class="btn" type="submit">
        отправить
      </button>
      <p>
        Нажимая на кнопку, Вы даете свое согласие на обработку персональных данных
      </p>
    </form>
  </div>
</div>