<section class="sale" style="background-image: url(./images/webp/main-bg3.webp);">
  <div class="container">
    <h2 class="section-title">
      Что мы выкупаем
    </h2>
    <div class="sale__content">
      <a class="sale__content-item visible" href="#">
        <img src="images/webp/vine-img.webp" width="305" height="293" alt="vine-img">
        <span>
          Вино
        </span>
      </a>
      <a class="sale__content-item visible" href="#">
        <img src="images/webp/shampane.webp" width="305" height="293" alt="vine-img">
        <span>
          Шампанское
        </span>
      </a>
      <a class="sale__content-item visible" href="#">
        <img src="images/webp/viskey-img.webp" width="305" height="293" alt="vine-img">
        <span>
          Виски
        </span>
      </a>
      <a class="sale__content-item visible" href="#">
        <img src="images/webp/konyak-img.webp" width="305" height="293" alt="vine-img">
        <span>
          Коньяк
        </span>
      </a>
      <a class="sale__content-item visible" href="#">
        <img src="images/webp/armanyak-img.webp" width="305" height="293" alt="vine-img">
        <span>
          Арманьяк
        </span>
      </a>
      <a class="sale__content-item visible" href="#">
        <img src="images/webp/rom-img.webp" width="305" height="293" alt="vine-img">
        <span>
          Ром
        </span>
      </a>
      <a class="sale__content-item visible" href="#">
        <img src="images/webp/tequila-img.webp" width="305" height="293" alt="vine-img">
        <span>
          Текила
        </span>
      </a>
      <a class="sale__content-item visible" href="#">
        <img src="images/webp/vodka-img.webp" width="305" height="293" alt="vine-img">
        <span>
          Водка
        </span>
      </a>
      <a class="sale__content-item" href="#">
        <img src="images/webp/brendi-img.webp" width="305" height="293" alt="vine-img">
        <span>
          Бренди
        </span>
      </a>
      <a class="sale__content-item" href="#">
        <img src="images/webp/vermut-img.webp" width="305" height="293" alt="vine-img">
        <span>
          Вермут
        </span>
      </a>
      <a class="sale__content-item" href="#">
        <img src="images/webp/heres-img.webp" width="305" height="293" alt="vine-img">
        <span>
          Херес
        </span>
      </a>
      <a class="sale__content-item" href="#">
        <img src="images/webp/kampari-img.webp" width="305" height="293" alt="vine-img">
        <span>
          Кампари
        </span>
      </a>
      <a class="sale__content-item" href="#">
        <img src="images/webp/jin-img.webp" width="305" height="293" alt="vine-img">
        <span>
          Джин
        </span>
      </a>
    </div>
    <button class="btn-ghost js-btn__show-more" type="button">
      <span>показать еще</span>
    </button>
  </div>
</section>