<section class="sell">
  <div class="container">
    <h2 class="section-title">
      Хотите продать алкоголь по хорошей цене?
    </h2>
    <div class="sell__content">
      <div class="sell__content-item">
        <img src="images/webp/sale-1.webp" width="373" height="183" alt="sell-img">
        <div class="sell__item-num">
          01
        </div>
        <div class="sell__item-text">
          Свяжитесь с нами любым удобным способом
        </div>
      </div>
      <div class="sell__content-item">
        <img src="images/webp/sale-2.webp" width="373" height="183" alt="sell-img">
        <div class="sell__item-num">
          02
        </div>
        <div class="sell__item-text">
          Пришлите нам фото бутылки любым удобным способом
        </div>
      </div>
      <div class="sell__content-item">
        <img src="images/webp/sale-3.webp" width="373" height="183" alt="sell-img">
        <div class="sell__item-num">
          03
        </div>
        <div class="sell__item-text">
          Обсудите с нами цену
        </div>
      </div>
      <div class="sell__content-item">
        <img src="images/webp/sale-4.webp" width="373" height="183" alt="sell-img">
        <div class="sell__item-num">
          04
        </div>
        <div class="sell__item-text">
          Договоритесь с нами об удобном времени и месте
        </div>
      </div>
      <div class="sell__content-item">
        <img src="images/webp/sale-5.webp" width="373" height="183" alt="sell-img">
        <div class="sell__item-num">
          05
        </div>
        <div class="sell__item-text">
          Определитесь со способом оплаты
        </div>
      </div>
      <div class="sell__content-item">
        <img src="images/webp/sale-6.webp" width="373" height="183" alt="sell-img">
        <div class="sell__item-num">
          06
        </div>
        <div class="sell__item-text">
          Встретьтесь с нашим представителем и заберите деньги в обмен на алкоголь
        </div>
      </div>
    </div>
  </div>
</section>